.box {
    width: 1000px;
    height: 100px;
    left: 10;
    right: 0;
    margin: 0 auto;
    position: center;
}

button {
    padding: 10px;
    background: white;
    transition: .3s;
    border: 5px solid black;
    border-radius: 15px;
    color: #03989e;
    font-size: 50px;
    margin-left: 1.35%;
    margin-top: 299px;
}

button:hover{
    background: #03989e;
    color: white;
    font-color: white;

}

.text2{
}